<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${user.getUsername() + ', ' + user.getRoles()+ '.'}">value</p>
<p th:text="${user.getId()}">VALUE</p>
<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>
<form th:method="POST" th:action="@{/admin/{id}/delete(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>

<br/>
<hr/>

<a href="#" th:href="@{/logout}">Log Out</a>

</body>
</html>