<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en/ru">
<head>
    <meta charset="ISO-8859-1">
    <title>Sign Up</title>
</head>
<body>
<div>
    <form th:action="@{/registration}" th:method="post" th:object="${user}">

        <label for="username">Name:</label>
        <input type="text" th:field="*{username}" id="username"/>
        <br/>
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error.</div>

        <label for="password">Password:</label>
        <input type="text" th:field="*{password}" id="password"/>
        <br/>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error.
        </div>

        <label for="roles">Role:</label>
        <input type="text" th:field="*{roles}" id="roles"/>
        <br/>
        <div style="color:red" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Roles Error.</div>

        <button type="submit">Sign Up.</button>

    </form>
</div>
</body>
</html>